{% extends "base.html" %}

{% block content %}
<!--内容-->
<div class="container" style="margin-top:76px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;文章详情</h3>
                </div>
                <div class="panel-body">
                    <h1 class="text-center">{{ art.a_title }}</h1>
                    <div class="col-md-3">
                         <img data-original="/static/{{art.a_img}}" style="width:262px;height:166px;"
                         class="img-responsive center-block lazy" alt="">
                    </div>
                    <div class="col-md-9">
                        {{ art.a_content | safe }}


                    </div>
{#                        <div  style="position: absolute;right: 20px;bottom: 30px;">#}
{#                            <a class="label label-success" style="display:inline-block;width:150px;">被浏览{{time_visit }}次</a>#}
{#                        </div>#}
                </div>
            </div>
        </div>

    </div>
</div>
<!--内容-->
{% endblock %}